.navbar {
    overflow: hidden;
    background-color: #857c7f;
    max-height: 400px;
    overflow-y: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(90, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    /* Add a red background color to navigation links on hover */
    .navbar a:hover, .subnav:hover .subnavbtn {
      background-color: rgb(218, 166, 195);
    }
    
    /* Style the subnav content - positioned absolute */
    .subnav-content {
      display: none;
      position: absolute;
      left: 0;
      background-color: rgb(212, 149, 184);
      width: 100%;
      z-index: 1;
    }
  /* The navigation menu */
  .navbar {
    overflow: hidden;
    background-color: rgba(241, 151, 201, 0.726);
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(219, 109, 170);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(245, 137, 196);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #effd70
    color: #effd70 
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  
  article {
      border: 1px solid #000000;
      padding: 10px;
      margin-bottom: 70px;
  }
  
  @media (min-width: 992px) { 
    body {
      font-size: 16px;
    }
  
    .fila {
      display: flex;
      flex-wrap: wrap;
    }
  
    .columna {
      flex-basis: 33.33%;
    }
  }
  
  .boton {
    padding: 10px 20px;
    background-color: #fa0f85;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .boton-next {
    background-color: #fffd8a;
  }
  
  .boton:hover {
    background-color: #fff457;
    color: #000000;
  }